.episodeCard {
    display: flex;
    flex-direction: column;
    margin: 30px;
    border: 1px solid gray;
    padding: 15px;
}

.episode-number {
    font-size: 3em;
    margin: 0 auto;
}

.episodeTitle {
    margin: 0 auto;
}

a {
    padding: 3px
}